* {font-family: sans-serif; }

body { background: url("../images/delt.jpg");}

h1, table { text-align: center; }

table {border-collapse: collapse; }

th, td { padding: 9px; font-size:17px; }

tr {background: url("../images/fly.PNG"); }

tr, td { transition: .2s ease-in; } 

tr:first-child {background: url("../images/delt.jpg"); }

tr:nth-child(even) { background: ; }

td:empty {background: maroon; }

tr:hover:not(#firstrow), tr:hover td:empty {background: url("../images/sky.jpg"); pointer-events: visible;}
tr:hover:not(#firstrow) { transform: scale(1.2); font-weight: 20; box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);}

